.main-heading {
    text-align: center;
    font-size: 2.0rem;
}

.auto {
    text-align: center;
    font-size: 35px;
}

.container-two {
    display: left;
}

.background {
    background-color: lightblue;
}


/* Navbar container */

.navbar {
    overflow: hidden;
    background-color: rgb(13, 43, 71);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 19px;
    color: white;
    text-align: center;
    padding: 19px 19px;
    text-decoration: none;
}

.form-reg {
    margin: 2% 550px;
}

.labels {
    width: 250px;
    height: 22px;
}

.first-n-lable {
    font-size: 25px;
}